@model List<Funcionario>
<table>
    <tr align="center">
        <th align="center" class="p-2">Nome</th>
        <th align="center" class="p-2">Data de nascimento</th>
        <th align="center" class="p-2">Função</th>
        <th align="center" class="p-2">Contato</th>
        <th align="center" class="p-2">Email</th>
    </tr>
    @{
        foreach (Funcionario func in Model)
        {
        <tr>
            <td align="center" class="p-2">@func.Nome</td>
            <td align="center" class="p-2">@func.Nascimento.ToShortDateString()</td>
            <td align="center" class="p-2">@func.Funcao</td>
            <td align="center" class="p-2">@func.PhoneNumber</td>
            <td align="center" class="p-2">@func.Email</td>
            <td align="center" class="p-2"></td>
            <td align="center" class="p-2">@Html.ActionLink("Editar","Editar","Conta", new {id=func.Id})</td>
        </tr>
       
        }
    }
</table>